<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Eduception/src/edu/tier3/dataAccessLayer/ProfileDAL.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.tier3.dataAccessLayer.ProfileDAL"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Eduception"/>
</launchConfiguration>
